name: "mpv.net build"

on:
  workflow_dispatch:
    inputs:
      repo:
        required: true
        default: 'stax76/mpv.net'
      ref:
        required: true
        default: 'master'
jobs:
  build:
    name: "Build mpv.net"
    runs-on: windows-2022

    steps:
      - uses: actions/checkout@v3
        with:
          repository: ${{ github.event.inputs.repo }}
          ref: ${{ github.event.inputs.ref }}
          fetch-depth: 1
      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v1
      - name: Build
        shell: cmd
        run: |
          cd src
          msbuild -restore
          msbuild mpv.net.csproj /m /p:Configuration=Release /p:Platform=x64
      - name: Get version
        shell: bash
        run: |
          echo "version=$(cat src/Properties/AssemblyInfo.cs | grep -o 'AssemblyFileVersion.*' | grep -o '\([0-9]\+\.\)\+[0-9]\+')" >> $GITHUB_ENV
      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          name: "mpv.net_${{ env.version }}"
          path: src/bin/x64/Release
