name: tachiyomiJ2K
on:
  workflow_dispatch:

        
jobs:
  tachiyomiJ2K:
    name: Build tachiyomiJ2K
    runs-on: ubuntu-latest

    steps:
      - name: Clone repo
        uses: actions/checkout@v3
        with:
          repository: Jays2Kings/tachiyomiJ2K
          fetch-depth: 1

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 11

      - name: Copy CI gradle.properties
        run: |
          mkdir -p ~/.gradle
          cp .github/runner-files/ci-gradle.properties ~/.gradle/gradle.properties
      - name: Build app
        uses: gradle/gradle-command-action@v2.2.5
        with:
          arguments: assembleStandardRelease

      - name: Get tag name
        run: |
          set -x
          echo "VERSION_TAG=$(git rev-parse --short HEAD)" >> $GITHUB_ENV
      - name: Sign APK
        if: env.VERSION_TAG != ''
        uses: r0adkll/sign-android-release@v1
        with:
          releaseDirectory: app/build/outputs/apk/standard/release
          signingKeyBase64: ${{ secrets.SIGN_FILE_BASE64 }}
          alias: ${{ secrets.KEY_ALIAS }}
          keyStorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}

      - name: Clean up build artifacts
        if: env.VERSION_TAG != ''
        run: |
          set -e
          mv app/build/outputs/apk/standard/release/app-standard-universal-release-unsigned-signed.apk tachiyomij2k-${{ env.VERSION_TAG }}.apk
          sha=`sha256sum tachiyomij2k-${{ env.VERSION_TAG }}.apk | awk '{ print $1 }'`
          echo "APK_UNIVERSAL_SHA=$sha" >> $GITHUB_ENV
          cp app/build/outputs/apk/standard/release/app-standard-arm64-v8a-release-unsigned-signed.apk tachiyomij2k-arm64-v8a-${{ env.VERSION_TAG }}.apk
          sha=`sha256sum tachiyomij2k-arm64-v8a-${{ env.VERSION_TAG }}.apk | awk '{ print $1 }'`
          echo "APK_ARM64_V8A_SHA=$sha" >> $GITHUB_ENV
          cp app/build/outputs/apk/standard/release/app-standard-armeabi-v7a-release-unsigned-signed.apk tachiyomij2k-armeabi-v7a-${{ env.VERSION_TAG }}.apk
          sha=`sha256sum tachiyomij2k-armeabi-v7a-${{ env.VERSION_TAG }}.apk | awk '{ print $1 }'`
          echo "APK_ARMEABI_V7A_SHA=$sha" >> $GITHUB_ENV
          cp app/build/outputs/apk/standard/release/app-standard-x86-release-unsigned-signed.apk tachiyomij2k-x86-${{ env.VERSION_TAG }}.apk
          sha=`sha256sum tachiyomij2k-x86-${{ env.VERSION_TAG }}.apk | awk '{ print $1 }'`
          echo "APK_X86_SHA=$sha" >> $GITHUB_ENV

      - name: upload Universal
        uses: actions/upload-artifact@v3
        if: success()
        with:
          name: tachiyomij2k-${{ env.VERSION_TAG }}.apk
          path: tachiyomij2k-${{ env.VERSION_TAG }}.apk
      - name: upload arm64-v8a
        uses: actions/upload-artifact@v3
        if: success()
        with:
          name: tachiyomij2k-arm64-v8a-${{ env.VERSION_TAG }}.apk
          path: tachiyomij2k-arm64-v8a-${{ env.VERSION_TAG }}.apk
      - name: upload armeabi-v7a
        uses: actions/upload-artifact@v3
        if: success()
        with:
          name: tachiyomij2k-armeabi-v7a-${{ env.VERSION_TAG }}.apk
          path: tachiyomij2k-armeabi-v7a-${{ env.VERSION_TAG }}.apk
      - name: upload x86
        uses: actions/upload-artifact@v3
        if: success()
        with:
          name: tachiyomij2k-x86-${{ env.VERSION_TAG }}.apk
          path: tachiyomij2k-x86-${{ env.VERSION_TAG }}.apk
